<!DOCTYPE html>
<html>
	<head>
		<title>Call Controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button class="button btn btn-success btn-large"><%=t('action.signin')%></button>
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">CallController</a>
			  </div>
			  <div class="navbar-collapse collapse">
<!--
			    <ul class="nav navbar-nav">
			      <li><a href="/secure/place">Secret</a></li>
			    </ul>
-->
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
    
<form id="setup" action='/setup' method='post' enctype='multipart/form-data'>
  <h1> <%=t('callcontroller.setup')%> </h1>
  <legend></legend>
  <div class="control-group">
    <label class="control-label" for="first_name"><%=t('first_name')%></label>
    <div class="controls">
      <input class="input" name="first_name" type="text" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="last_name"><%=t('last_name')%></label>
    <div class="controls">
      <input class="input" name="last_name" type="text" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="username"><%=t('username')%></label>
    <div class="controls">
      <input class="input" name="username" type="text" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email"><%=t('email')%></label>
    <div class="controls">
      <input class="input" name="email" type="email" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password"><%=t('password.one')%></label>
    <div class="controls">
      <input class="input" id="password" name="password" type="password" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="passwordRepeat"><%=t('password.repeat')%></label>
    <div class="controls">
      <input class="input" name="passwordRepeat" type="password" data-validation-matches-match="password" data-validation-matches-message="<%=t('password.match')%>" >
    </div>
  </div>
  <div class="control-group"><input class="btn" type='submit' value="<%=t('action.setup')%>"></div>
</form>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
