<div class="row-fluid">
  <div class="col-md-8">
    <div class="widget widget-table action-table">
      <div class="widget-header">
	<i class="glyphicon glyphicon-earphone"></i><h3><%=t('call_result.other')%></h3>
      </div>
      <div class="widget-content">
	<div style="position:absolute; z-index:90;">
    <a data-toggle="modal" data-target="#addCallResult" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <%=t('call_result.add')%></a>
	</div>
	<div class="visible-phone visible-tablet"><br/><br/></div>
	<table id="callresults" class="table table-striped table-bordered" cellspacing="0" width="100%">
	  <thead style="text-align:left;">
	    <tr>
        <th>
          <%=t('call_result.code')%>
        </th>
        <th>
          <%=t('call_result.description')%>
        </th>
        <th class="td-actions">
          <%=t('action.other')%>
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @call_results.each do |call_result| %>
        <tr>
          <td><%=call_result.code%></td>
          <td><%=call_result.description%></td>
          <td class="td-actions">
            <a data-toggle="tooltip" data-original-title="<%=t('action.edit')%>" href="#editCallResult" class="btn btn-info btn-mini btn-glyphicon-only hint" onclick="passDataToCallResult(['<%=call_result.id%>', '<%=call_result.code%>', '<%=call_result.description%>'], '#editCallResult')"><i class="glyphicon glyphicon-edit"></i></a>
            <a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delCallResult" class="btn btn-danger btn-mini btn-glyphicon-only hint" onclick="passToDeleteCallResult(['<%=call_result.id%>', '<%=call_result.description%>'], '#delCallResult')"><i class="glyphicon glyphicon-remove"></i></a>
          </td>
        </tr>
	 <% end %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addCallResult" role="dialog" aria-labelledby="<%=t('dialog.add_call_result.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="addCallResultLabel"><%=t('dialog.add_call_result.title')%></h3>
      </div>
      <form id="addCallResultform" action="/callresult/add" method="post">
        <div class="modal-body">
        <div class="control-group"><input name='new_call_result_code' type="text" class="input" id="new_call_result_code" value="" placeholder="<%=t('call_result.code')%>" autofocus /> <span class="help-inline"><%=t('call_result.code')%></span></div>
          <div class="control-group"><input name='new_call_result_description' type="text" class="input" id="new_call_result_description" value="" placeholder="<%=t('call_result.description')%>" /> <span class="help-inline"><%=t('call_result.description')%></span></div>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <button type="submit" class="btn btn-primary"><%=t('action.save')%></button>
        </div>
        </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade" id="delCallResult" role="dialog" aria-labelledby="<%=t('dialog.del_call_result.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="delCallResultLabel"><%=t('dialog.attention')%></h3>
      </div>
        <div class="modal-body">
          <p><%= t('dialog.del_call_result.confirm', call_result: '<b id="dataInput"></b>')%></p>
        </div>
        <div class="modal-footer">
          <form id="delCallResultform" action="/callresult/del" method="post">
            <input type="hidden" name="delete_call_result_id" id="delete_call_result_id" value="" />
            <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
            <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
          </form>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="migrateCallResult" role="dialog" aria-labelledby="<%=t('call_result.migrate')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="migrateCallResultLabel"><%=t('dialog.attention')%></h3>
      </div>
        <div class="modal-body">
          <p><%= t('dialog.migrate_call_result.confirm')%></p>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <a data-toggle="tooltip" onclick="migrateCallResults()" data-original-title="<%=t('call_result.migrate')%>" class="btn btn-info btn-mini btn-icon-only hint"><%=t('call_result.migrate')%></a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editCallResult" role="dialog" aria-labelledby="<%=t('dialog.edit_call_result.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="editCallResultLabel"><%=t('dialog.edit_call_result.title')%></h3>
      </div>
      <form id="editCallResultform" action="/callresult/edit" method="post">
        <div class="modal-body">
          <input type="hidden" value="" name="edit_call_result_id" id="edit_call_result_id"/>
          <div class="control-group"><input name="edit_call_result_code" type="text" class="input" id="edit_call_result_code" value="" placeholder="<%=t('call_result.code')%>" autofocus /> <span class="help-inline"><%=t('call_result.code')%></span></div>
          <div class="control-group"><input name="edit_call_result_description" type="text" class="input" id="edit_call_result_description" value="" placeholder="<%=t('call_result.description')%>"/> <span class="help-inline"><%=t('call_result.description')%></span></div>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
        </div>
       </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
