<div class="row-fluid">
	<div class="col-md-8">
		<div class="widget widget-table action-table">
			<div class="widget-header">
				<i class="icon-user"></i><h3><%=t('campaign.other')%></h3>
			</div>
			<div class="widget-content">
				<div style="position:absolute; margin:10px; z-index:90;">
          <a data-toggle="modal" data-target="#addCampaign" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <%=t('campaign.add')%></a>
				</div>
				<div class="visible-phone visible-tablet"><br></br></div>
				<table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead style="text-align:left;">
						<tr>
							<th>
								<%=t('campaign.external_id')%>
							</th>
							<th>
								<%=t('campaign.file')%>
							</th>
							<th>
								<%=t('active')%>
							</th>
							<th>
								<%=t('parsed')%>
							</th>
							<th class="td-actions">
								<%=t('action.other')%>
							</th>
						</tr>
					</thead>
					<tbody>
            
              <% @campaigns.each do |campaign| %>
              
              <tr>
                <td>
                  <%=campaign.external_id%>
                </td>
                <td>
                  <% if campaign.file_imported?  %>                 
                    <a data-toggle="tooltip" data-original-title="<%=t('action.download')%>" href="<%=campaign.file_name.gsub(Regexp.new('^public'), '')%>" class="btn btn-default btn-mini btn-icon-only hint"><i class="glyphicon glyphicon-save-file"></i></a>
                  <% else %>
                    <a data-toggle="tooltip" data-original-title="<%=t('action.upload')%>" href="/campaign/upload/<%=campaign.id.to_s%>" class="btn btn-default btn-mini btn-icon-only hint"><i class="glyphicon glyphicon-upload"></i></a>
                  <% end %>
                </td>
                <td>
                  <% if campaign.active? %>                 
                      <a data-toggle="tooltip" data-original-title="<%=t('inactive')%>" class="btn btn-default btn-mini btn-icon-only hint"><i class="glyphicon glyphicon-minus"></i></a>
                  <% else %>
                    <a data-toggle="tooltip" data-original-title="<%=t('active')%>" class="btn btn-default btn-mini btn-icon-only hint"><i class="glyphicon glyphicon-plus"></i></a>
                  <% end %>
                </td>
                
                 <td>
                  <% if campaign.parsed == 0 %>
                    <form action="/campaign/import" method="post">
                      <input type="hidden" name="campaign_id" id="dataInput" value="<%=campaign.id%>">
                      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i></button>
                    </form>  
                  <% end %>
                  <% if campaign.parsed == 1 %>
                      <form action="/campaign/import" method="post">
                        <input type="hidden" name="campaign_id" id="dataInput" value="<%=campaign.id%>">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i></button>
                    </form>  
                  <% end %>
                  <% if campaign.parsed == 2 %>
                    <a data-toggle="tooltip" data-original-title="<%=t('parsed')%>" class="btn btn-default btn-mini btn-icon-only hint"><i class="glyphicon glyphicon-ok-sign"></i></a>
                  <% end %>
                </td>
                <td class="td-actions">
                  <a data-toggle="tooltip" data-original-title="<%=t('action.edit')%>" href="#editCampaign" class="btn btn-info btn-mini btn-glyphicon-only hint" onclick="passDataToCampaignModal(['<%=campaign.external_id%>', '<%=campaign.active? ? "1":"0" %>'], '#editCampaign')"><i class="glyphicon glyphicon-edit"></i></a>
                  <a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delCampaign" class="btn btn-danger btn-mini btn-glyphicon-only hint" onclick="passDataToModal(['<%=campaign.external_id%>'], '#delCampaign')"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
              </tr>
              <% end %>
              
					</tbody>
				</table>
			</div>
		</div>
	</div>
  
  
<div class="col-md-4">
		<div class="widget widget-table action-table">
			<div class="widget-header">
				<i class="icon-group"></i><h3><%=t('campaign.types')%></h3>
			</div>
			<div class="widget-content">
				<div style="position:absolute; margin:10px; z-index:90;">
          <a data-toggle="modal" data-target="#addCampaignType" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <%=t('campaign.add_type')%></a>
				</div>
				<div class="visible-phone visible-tablet"><br></br></div>
				<table id="roles" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead style="text-align:left;">
						<tr>
							<th>
								<%=t('campaign.type')%>
							</th>
						</tr>
					</thead>
					<tbody>
						<% @campaigntypes.each do |cptype| %>
						<tr>
							<td>
								<%=cptype.name%>
							</td>
							<td class="td-actions">
								<!--<a data-toggle="tooltip" data-original-title="<%=t('action.edit')%>" href="#editCampaignType" class="btn btn-info btn-mini btn-glyphicon-only hint" onclick="editRole(['<%=cptype.name%>'], '#editCampaignType')"><i class="btn-glyphicon-only glyphicon glyphicon-edit"></i></a>-->
								<a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delCampaignType" class="btn btn-danger btn-mini btn-glyphicon-only hint" onclick="passDataToModal(['<%=cptype.name%>'], '#delCampaignType')"><i class="btn-glyphicon-only glyphicon glyphicon-remove"></i></a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


  <div class="modal fade" id="addCampaignType" role="dialog" aria-labelledby="<%=t('campaign.add_type')%>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 id="addCampaignTypeLabel"><%=t('campaign.add_type')%></h3>
        </div>
        <form id="addCampaignTypeForm" action="/campaign/type/add" method="post">
          <div class="modal-body">
            <div class="control-group"><input name='name' type="text" class="input" id="name" value="" placeholder="<%=t('campaign.type_name')%>" autofocus> <span class="help-inline"><%=t('campaign.type_name')%></span></div>
          </div>
          <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
            <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div class="modal fade" id="delCampaignType" role="dialog" aria-labelledby="<%=t('dialog.del_campaign_type.title')%>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 id="delCampaignTypeLabel"><%=t('dialog.attention')%></h3>
        </div>
          <div class="modal-body">
            <p><%= t('dialog.del_campaign_type.confirm', campaign_type: '<b id="dataInput"></b>')%></p>
          </div>
          <div class="modal-footer">
            <form id="delCampaignTypeform" action="/campaign/type/del" method="post">
              <input type="hidden" name="name" id="dataInput" value="">
              <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
              <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
            </form>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="addCampaign" role="dialog" aria-labelledby="<%=t('campaign.add')%>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 id="addCampaignLabel"><%=t('campaign.add')%></h3>
        </div>
        <form id="addCampaignForm" action="/campaign/add" method="POST">
          <div class="modal-body">
            <div class="control-group"><input name='external' type="text" class="input" id="external" placeholder="<%=t('campaign.external_id')%>" autofocus> <span class="help-inline"><%=t('campaign.external_id')%></span></div>
            <div class="control-group">
              <select class="" name="campaigntype" id="campaigntype">
                <% @campaigntypes.each do |cptype| %>
                <option value="<%=cptype.id%>"><%=cptype.name%></option>
                <% end %>
              </select>
              <span class="help-inline"><%=t('campaign.type')%></span>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
            <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div class="modal fade" id="editCampaign" role="dialog" aria-labelledby="<%=t('dialog.edit_user.title')%>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 id="editCampaignLabel"><%=t('dialog.edit_user.title')%></h3>
        </div>
        <form id="editCampaignForm" action="/campaign/edit" method="post">
          <div class="modal-body">
          
            <div class="control-group"><input name='external_edit' type="text" class="input" id="external_edit" value="" placeholder="<%=t('campaign.external_id')%>" autofocus> <span class="help-inline"><%=t('campaign.external_id')%></span></div>
            <div class="control-group"><input name='active' id="dataCheckbox" type="checkbox" class="input"> <span class="help-inline"><%=t('active')%></span></div>
          </div>
          <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
            <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
          </div>
         </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="roleeditor"></div>
  
  <div class="modal fade" id="delCampaign" role="dialog" aria-labelledby="<%=t('dialog.del_campaign.title')%>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 id="delCampaignLabel"><%=t('dialog.attention')%></h3>
        </div>
          <div class="modal-body">
            <p><%= t('dialog.del_campaign.confirm', campaign: '<b id="dataInput"></b>')%></p>
          </div>
          <div class="modal-footer">
            <form id="delCampaignform" action="/campaign/del" method="post">
              <input type="hidden" name="external_del_id" id="dataInput" value="">
              <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
              <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
            </form>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
