<div class="row-fluid">
  <div class="col-md-8">
    <div class="widget widget-table action-table">
      <div class="widget-header">
	<i class="glyphicon glyphicon-flag"></i><h3><%=t('country.other')%></h3>
      </div>
      <div class="widget-content">
	<div style="position:absolute; z-index:90;">
    <a data-toggle="modal" data-target="#addCountry" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <%=t('country.add')%></a>
	</div>
	<div style="position:absolute; margin-left:120px; z-index:90;">
    <a data-toggle="modal" data-target="#migrateCountry" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <%=t('country.migrate')%></a>
	</div>
	<div class="visible-phone visible-tablet"><br></br></div>
	<table id="countries" class="table table-striped table-bordered" cellspacing="0" width="100%">
	  <thead style="text-align:left;">
	    <tr>
	      <th>
		<%=t('country.name')%>
	      </th>
	      <th>
		<%=t('iso_code')%>
	      </th>
	      <th class="td-actions">
		<%=t('action.other')%>
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @countries.each do |country| %>
	      <tr>
		<td>
		  <%=country.name%>
		</td>
    <td>
      <%=country.iso_code%>
    </td>
		<td class="td-actions">
		  <a data-toggle="tooltip" data-original-title="<%=t('action.edit')%>" href="#editCountry" class="btn btn-info btn-mini btn-glyphicon-only hint" onclick="passDataToCountry(['<%=country.id%>', '<%=country.name%>', '<%=country.iso_code%>'], '#editCountry')"><i class="glyphicon glyphicon-edit"></i></a>
		  <a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delCountry" class="btn btn-danger btn-mini btn-glyphicon-only hint" onclick="passDataToCountry(['<%=country.id%>', '<%=country.name%>', '<%=country.iso_code%>'], '#delCountry')"><i class="glyphicon glyphicon-remove"></i></a>
                  
		</td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addCountry" role="dialog" aria-labelledby="<%=t('dialog.add_country.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="addCountryLabel"><%=t('dialog.add_country.title')%></h3>
      </div>
      <form id="addCountryform" action="/country/add" method="post">
        <div class="modal-body">
          <div class="control-group"><input name='new_country_name' type="text" class="input" id="new_country_name" value="" placeholder="<%=t('country.name')%>" autofocus> <span class="help-inline"><%=t('country.name')%></span></div>
          <div class="control-group"><input name='new_country_code' type="text" class="input" id="new_country_code" value="" placeholder="<%=t('iso_code')%>">> <span class="help-inline"><%=t('iso_code')%></span></div> 
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <div class="modal fade" id="delCountry" role="dialog" aria-labelledby="<%=t('dialog.del_country.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="delCountryLabel"><%=t('dialog.attention')%></h3>
      </div>
        <div class="modal-body">
          <p><%= t('dialog.del_country.confirm', country: '<b id="dataInput"></b>')%></p>
        </div>
        <div class="modal-footer">
          <form id="delCountryform" action="/country/del" method="post">
            <input type="hidden" name="countryid" id="dataInput" value="">
            <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
            <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
          </form>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="migrateCountry" role="dialog" aria-labelledby="<%=t('country.migrate')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="migrateCountryLabel"><%=t('dialog.attention')%></h3>
      </div>
        <div class="modal-body">
          <p><%= t('dialog.migrate_country.confirm')%></p>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <a data-toggle="tooltip" onclick="migrateCountries()" data-original-title="<%=t('country.migrate')%>" class="btn btn-info btn-mini btn-icon-only hint"><%=t('country.migrate')%></a>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editCountry" role="dialog" aria-labelledby="<%=t('dialog.edit_country.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="editCountryLabel"><%=t('dialog.edit_country.title')%></h3>
      </div>
      <form id="editCountryform" action="/country/edit" method="post">
        <div class="modal-body">
        
          <div class="control-group"><input name='edit_country_name' type="text" class="input" id="edit_country_name" value="" placeholder="<%=t('country')%>" autofocus> <span class="help-inline"><%=t('iso_code')%></span></div>
          <div class="control-group"><input name='edit_country_code' type="text" class="input" id="edit_country_code" value="" placeholder="<%=t('iso_code')%>">> <span class="help-inline"><%=t('iso_code')%></span></div>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
        </div>
       </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->