<!DOCTYPE html>
<html>
	<head>
		<title>Call Controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <% if request.path_info.start_with?("/users") %>
      <link rel="stylesheet" type="text/css" href="/vendor/datatables/css/dataTables.tableTools.css">
      <link rel="stylesheet" type="text/css" href="/vendor/datatables/css/dataTables.bootstrap.css">
    <% end %>
<!--  
  <script type="text/javascript" language="javascript" src="/assets/js/base.js"></script>    
-->
  <script type="text/javascript" language="javascript" src="/vendor/jquery/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" language="javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" language="javascript" src="/vendor/jqBootstrapValidation/js/jqBootstrapValidation.min.js"></script>
  <script type="text/javascript" language="javascript" src="/vendor/modernizr/js/modernizr.js"></script>
  <script type="text/javascript" language="javascript" src="/assets/js/funcs.js?v=<%= $CALLCONTROLLER_VERSION %>"></script>
  <% if request.path_info.start_with?("/origin/failed") || request.path_info.start_with?("/callresults") || request.path_info.start_with?("/users") ||  request.path_info.start_with?("/campaigns") || request.path_info.start_with?("/countries") || request.path_info.start_with?("/provinces") %>
    <!-- DataTables -->
    <script type="text/javascript" language="javascript" src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/vendor/datatables/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" language="javascript" src="/vendor/datatables/js/dataTables.bootstrap.js"></script>    
    <!-- END DataTables -->
  <% end %>
  <!-- Select2 -->
  <% if request.path_info.start_with?("/campaign/upload") %>
    <link rel="stylesheet" type="text/css" href="/vendor/select2/css/select2.css">
    <script type="text/javascript" language="javascript" src="/vendor/select2/js/select2.min.js"></script>
  <% end %>
  <!-- END Select2 -->
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  
  <% if request.path_info.start_with?("/users") %>
    <!-- DataTables -->
    <script type="text/javascript">
      $(document).ready(function() {
          $('#users').dataTable();
          $('#roles').dataTable();
          $('#queues').dataTable();
      } );
    </script>
    <!-- END DataTables -->
  <% end %>
  
  <% if request.path_info.start_with?("/campaigns") %>
    <!-- DataTables -->
    <script type="text/javascript">
      $(document).ready(function() {
          $('#campaigns').dataTable();
      } );
    </script>
    <!-- END DataTables -->
  <% end %>
  
  <% if request.path_info.start_with?("/callresults") %>
    <!-- DataTables -->
    <script type="text/javascript">
      $(document).ready(function() {
          $('#callresults').dataTable();
      } );
    </script>
    <!-- END DataTables -->
  <% end %>
  
  <% if request.path_info.start_with?("/origin/failed") %>
    <!-- DataTables -->
    <script type="text/javascript">
      $(document).ready(function() {
          $('#origins').dataTable();
      } );
    </script>
    <!-- END DataTables -->
  <% end %>

  <% if request.path_info.start_with?("/countries") %>
    <!-- DataTables -->
    <script type="text/javascript">
      $(document).ready(function() {
          $('#countries').dataTable();
      } );
    </script>
    <!-- END DataTables -->
  <% end %>
  <% if request.path_info.start_with?("/provinces") %>
    <!-- DataTables -->
    <script type="text/javascript">
      $(document).ready(function() {
          $('#provinces').dataTable();
      } );
    </script>
    <!-- END DataTables -->
  <% end %>

	</head>
	<body>
		<div class="container-fluid">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="glyphicon glyphicon-bar"></span>
			      <span class="glyphicon glyphicon-bar"></span>
			      <span class="glyphicon glyphicon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">CallController</a>
			  </div>
			  <div style="margin-right: 35px;" class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
              <li><a href="/help"><i class="glyphicon glyphicon-book"></i> <%=t('menu.documentation')%></a></li>
              <%if !user.nil?%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <%=user.username%> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <%if user.is_admin?%>
                    <li><a href="/users"><%=t('menu.manage_users')%></a></li>
                    <li><a href="/settings">System Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="/campaigns"><%=t('campaign.other')%></a></li>
                    <li class="divider"></li>
                    <li><a href="/countries"><%=t('country.other')%></a></li>
                    <li><a href="/provinces"><%=t('province.other')%></a></li>
                    <li><a href="/callresults"><%=t('call_result.other')%></a></li>
                    <li class="divider"></li>
                  <%end%>
                  <li><a href="/password/change"><%=t('password.change')%></a></li>
                  <li><a href="/logout"><%=t('menu.logout')%></a></li>
                </ul>
              </li>
              <%end%>
            </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error then %>
			          <div class="alert alert-error"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>
  </body>
</html>
