<% if !@error.nil? %>
  <div class="alert alert-error"><%=@error%></div>
<% end %>
<div class="account-container">
  <div class="content clearfix">
    <form action="/login" method="post">
      <h1><%=t('callcontroller.login')%></h1>
      <div class="login-fields">
        <div class="field">
          <label for="username"><%=t('username')%>:</label>
          <input type="text" id="username" name="username" value="" placeholder="<%=t('username')%>" class="login username-field" autofocus />
        </div> <!-- /field -->
        <div class="field">
          <label for="password"><%=t('password.one')%>:</label>
          <input type="password" id="password" name="password" value="" placeholder="<%=t('password.one')%>" class="login password-field"/>
        </div> <!-- /password -->
      </div> <!-- /login-fields -->
      <div class="login-actions">
        <button class="button btn btn-success btn-large"><%=t('action.signin')%></button>
      </div> <!-- .actions -->
    </form>
  </div> <!-- /content -->
</div> <!-- /account-container -->
<div class="login-extra">
  <a href="/password/request"><%=t('action.password_reset')%></a>
</div> <!-- /login-extra -->