
<form action="/password/request" method="post">
  <h1><%=t('callcontroller.recovery')%></h1>
  <div class="login-fields">
    <div class="field">
      <label for="email"><%=t('email')%>:</label>
      <input type="text" id="email" name="email" value="" placeholder="<%=t('email')%>" class="login email-field" />
    </div> <!-- /field -->
  </div> <!-- /login-fields -->
  <div class="login-actions">
    <button class="button btn btn-success btn-large"><%=t('action.password_reset')%></button>
  </div> <!-- .actions -->
</form>













<!DOCTYPE html>
<html>
	<head>
		<title>Call Controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    
<!--  
  <script type="text/javascript" language="javascript" src="/assets/js/base.js"></script>    
-->
  <script type="text/javascript" language="javascript" src="/vendor/jquery/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" language="javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" language="javascript" src="/vendor/jqBootstrapValidation/js/jqBootstrapValidation.min.js"></script>
  <script type="text/javascript" language="javascript" src="/vendor/modernizr/js/modernizr.js"></script>
  <script type="text/javascript" language="javascript" src="/assets/js/funcs.js?v=0.01"></script>
  <!-- DataTables -->
  
  <!-- DataTables -->
  <!-- Select2 -->
  
  <!-- END Select2 -->
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  
  

	</head>
	<body>
		<div class="container-fluid">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="glyphicon glyphicon-bar"></span>
			      <span class="glyphicon glyphicon-bar"></span>
			      <span class="glyphicon glyphicon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">CallController</a>
			  </div>
			  <div class="navbar-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="/help"><i class="glyphicon glyphicon-book"></i> Documentation</a></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> admin <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  
                    <li><a href="/users">Manage users</a></li>
                    <li><a href="/settings">System Settings</a></li>
                    <li class="divider"></li>
                  
                  <li><a href="/password/change">Change password</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
              
            </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      
			      

<form action="/password/request" method="post">
  <h1><%=t('callcontroller.recovery')%></h1>
  <div class="login-fields">
    <div class="field">
      <label for="email"><%=t('email')%>:</label>
      <input type="text" id="email" name="email" value="" placeholder="<%=t('email')%>" class="login email-field" />
    </div> <!-- /field -->
  </div> <!-- /login-fields -->
  <div class="login-actions">
    <button class="button btn btn-success btn-large"><%=t('action.password_reset')%></button>
  </div> <!-- .actions -->
</form>


			</div>

	</div>
  </body>
</html>
