<div class="row-fluid">
	<div class="col-md-8">
		<div class="widget widget-table action-table">
			<div class="widget-header">
				<i class="icon-user"></i><h3><%=t('user.other')%></h3>
			</div>
			<div class="widget-content">
				<div style="position:absolute; margin:10px; z-index:90;">
          <a data-toggle="modal" data-target="#addUser" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <%=t('user.add')%></a>
				</div>
				<div class="visible-phone visible-tablet"><br></br></div>
				<table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead style="text-align:left;">
						<tr>
							<th>
								<%=t('username')%>
							</th>
							<th>
								<%=t('user.full_name')%>
							</th>
							<th>
								<%=t('email')%>
							</th>
							<th class="td-actions">
								<%=t('action.other')%>
							</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
						<tr>
							<td>
								<%=user.username%>
							</td>
							<td>
                <%=user.last_name%>, <%=user.first_name%>
							</td>
							<td>
								<%=user.email%>
							</td>
							<td class="td-actions">
								<% if user.receive_notifications == true %>                 
                  <a data-toggle="tooltip" data-original-title="<%=t('action.notifications.disable')%>" href="/users/<%=user.username%>/notifications/disable" class="btn btn-info btn-mini btn-icon-only hint"><i class="glyphicon glyphicon-bell"></i></a>
								<% else %>
                <a data-toggle="tooltip" data-original-title="<%=t('action.notifications.enable')%>" href="/users/<%=user.username%>/notifications/enable" class="btn btn-default btn-mini btn-icon-only hint"><i class="glyphicon glyphicon-bell"></i></a>
								<% end %>
								<a data-toggle="tooltip" data-original-title="<%=t('action.edit')%>" href="#editUser" class="btn btn-info btn-mini btn-glyphicon-only hint" onclick="passDataToModal(['<%=user.username%>', '<%=user.active? ? "1":"0" %>', '<%=user.email%>', '<%=user.first_name%>', '<%=user.last_name%>'], '#editUser')"><i class="glyphicon glyphicon-edit"></i></a>
								<a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delUser" class="btn btn-danger btn-mini btn-glyphicon-only hint" onclick="passDataToModal(['<%=user.username%>'], '#delUser')"><i class="glyphicon glyphicon-remove"></i></a>
                
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="widget widget-table action-table">
			<div class="widget-header">
				<i class="icon-group"></i><h3><%=t('role.other')%></h3>
			</div>
			<div class="widget-content">
				<div style="position:absolute; margin:10px; z-index:90;">
          <a data-toggle="modal" data-target="#addRole" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> <%=t('role.add')%></a>
				</div>
				<div class="visible-phone visible-tablet"><br></br></div>
				<table id="roles" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead style="text-align:left;">
						<tr>
							<th>
								<%=t('name')%>
							</th>
							<th>
								<%=t('member.other')%>
							</th>
							<th class="td-actions">
								<%=t('action.other')%>
							</th>
						</tr>
					</thead>
					<tbody>
						<% @roles.each do |role| %>
						<tr>
							<td>
								<%=role.name%>
							</td>
							<td>
								<div class="accordion-role accordion-invisible">
									<div class="accordion-heading accordion-invisible">
										<a data-toggle="collapse" href="#collapse<%=role.name%>" style="font-size: 8pt; color: #ffffff;" class="label label-info">&nbsp; <%=role.users.count%> &nbsp;</a>
									</div>
									<div id="collapse<%=role.name%>" class="accordion-body collapse accordion-invisible">
										<div class="accordion-inner accordion-invisible">
											<table class="table table-condensed">
												<tbody>
													<% role.users.each do |user| %>
													<tr class="accordion-invisible"><td class="accordion-invisible">
														<i class="icon-angle-right"></i>
														<span class="label label-success"><%= user.username %></span>
													</td></tr>
													<% end %>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</td>
							<td class="td-actions">
								<!--<a data-toggle="tooltip" data-original-title="<%=t('action.edit')%>" href="#editRole" class="btn btn-info btn-mini btn-glyphicon-only hint" onclick="editRole('<%=role.name%>', '#roleeditor')"><i class="btn-glyphicon-only glyphicon glyphicon-edit"></i></a>-->
								<a data-toggle="tooltip" data-original-title="<%=t('action.remove')%>" href="#delRole" class="btn btn-danger btn-mini btn-glyphicon-only hint" onclick="passDataToModal(['<%=role.name%>'], '#delRole')"><i class="btn-glyphicon-only glyphicon glyphicon-remove"></i></a>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addUser" role="dialog" aria-labelledby="<%=t('dialog.add_user.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="addUserLabel"><%=t('dialog.add_user.title')%></h3>
      </div>
      <form id="addUserform" action="/user/add" method="post">
        <div class="modal-body">
          <div class="control-group"><input name='username' type="text" class="input" id="dataInput" value="" placeholder="<%=t('username')%>" autofocus> <span class="help-inline"><%=t('username')%></span></div>
          <div class="control-group"><input name='first_name' type="text" class="input" id="first_name" value="" placeholder="<%=t('user.first_name')%>">> <span class="help-inline"><%=t('user.first_name')%></span></div>
          <div class="control-group"><input name='last_name' type="text" class="input" id="last_name" value="" placeholder="<%=t('user.last_name')%>">> <span class="help-inline"><%=t('user.last_name')%></span></div>
          <div class="control-group"><input name='email' type="email" id="email" class="input" placeholder="<%=t('email')%>"> <span class="help-inline"><%=t('email')%></span><p class="help-block"></p></div>
          <div class="control-group"><input name='password' type="password" class="input" placeholder="<%=t('password.one')%>"> <span class="help-inline"><%=t('password.one')%></span></div>
          <div class="control-group"><input name='active' type="checkbox" class="input"> <span class="help-inline"><%=t('active')%></span></div>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="addRole" role="dialog" aria-labelledby="<%=t('dialog.add_role.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="addRoleLabel"><%=t('dialog.add_role.title')%></h3>
      </div>
      <form id="addRoleform" action="/role/add" method="post">
        <div class="modal-body">
          <div class="control-group"><input name='name' type="text" class="input" placeholder="<%=t('dialog.add_role.name')%>" autofocus><span class="help-inline"> <%=t('dialog.add_role.name_long')%></span></div>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <button type="submit" class="btn btn-primary"><%=t('action.add')%></button>
        </div>
       </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="delUser" role="dialog" aria-labelledby="<%=t('dialog.del_user.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="delUserLabel"><%=t('dialog.attention')%></h3>
      </div>
        <div class="modal-body">
          <p><%= t('dialog.del_user.confirm', user: '<b id="dataInput"></b>')%></p>
        </div>
        <div class="modal-footer">
          <form id="delUserform" action="/user/del" method="post">
            <input type="hidden" name="username" id="dataInput" value="">
            <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
            <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
          </form>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="delRole" role="dialog" aria-labelledby="<%=t('dialog.del_role.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="delRoleLabel"><%=t('dialog.attention')%></h3>
      </div>
        <div class="modal-body">
          <p><%= t('dialog.del_role.confirm', role: '<b id="dataInput"></b>')%></p>
        </div>
        <div class="modal-footer">
          <form id="delRoleForm" action="/role/del" method="post">
            <input type="hidden" name="name" id="dataInput" value="">
            <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
            <button type="submit" class="btn btn-primary"><%=t('action.del')%></button>
          </form>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editUser" role="dialog" aria-labelledby="<%=t('dialog.edit_user.title')%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="editUserLabel"><%=t('dialog.edit_user.title')%></h3>
      </div>
      <form id="editUserform" action="/user/edit" method="post">
        <div class="modal-body">
        
          <div class="control-group"><input name='username' type="text" id="dataInput" value="" readonly> <span class="help-inline"><%=t('username')%></span></div>
          <div class="control-group"><input name='first_name' type="text" id="first_name" value=""> <span class="help-inline"><%=t('user.first_name')%></span></div>
          <div class="control-group"><input name='last_name' type="text" id="last_name" value=""> <span class="help-inline"><%=t('user.last_name')%></span></div>
          <div class="control-group"><input name='email' type="email" id="email" class="input" placeholder="<%=t('email')%>"> <span class="help-inline"><%=t('dialog.edit_user.change_email')%></span><p class="help-block"></p></div>
          <div class="control-group"><input name='password' type="password" class="input" placeholder="<%=t('dialog.edit_user.new_pass')%>"> <span class="help-inline"><%=t('dialog.edit_user.change_pass')%></span></div>
          <div class="control-group"><input name='active' id="dataCheckbox" type="checkbox" class="input"> <span class="help-inline"><%=t('active')%></span></div>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><%=t('action.cancel')%></a>
          <button type="submit" class="btn btn-primary"><%=t('action.edit')%></button>
        </div>
       </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="roleeditor"></div>
